@charset "utf-8";
@font-face {
  font-family: myfont;
  src: url(../fonts/ufonts.com_tw-cen-mt.ttf);
}
/*  Common Css*/
body {
  font-family: myfont;
  font-size: 14px;
  font-weight: 400;
}
h1,
h3,
h2,
h4,
h5,
h6 {
  margin: 0;
  font-family: myfont;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 24px;
  font-weight: 500;
}
h3 {
  font-size: 20px;
  font-weight: 600;
}
p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  font-family: myfont;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a,
a:active,
a:focus,
a:active {
  text-decoration: none !important;
  font-size: 15px;
}
.overlay-effect {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../images/overlay-pattern.png") #000;
  opacity: 0.3;
}
/*costom heading Start*/
.heading {
  text-align: center;
  font-weight: 500;
  color: #2E2E2E;
  padding: 40px 0px;
  position: relative;
}
.heading span {
  font-size: 45px;
  color: #FF530A;
  font-weight: 600;
}
.heading:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 140px;
  height: 1px;
  background: #C8C1B3;
  margin-left: -70px;
}
/*--
    custom heading Start
--*/
.title {
  color: #2E2E2E;
  text-transform: uppercase;
  padding: 30px 0px;
}
.title span {
  color: #FF5333;
}
.before-border {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 140px;
  height: 1px;
  background: #C8C1B3;
  margin-left: -70px;
}
.transition {
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
/* header img Start*/
#hero-area {
  position: relative;
}
#hero-areabefore {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../images/overlay-pattern.png") #000;
  opacity: 0.3;
}
/*
  nav Start
*/
nav {
  z-index: 9999;
  width: 100%;
}
nav .block {
  margin-top: -85px;
  background: #fff;
  padding: 25px 40px;
  background: rgba(255, 255, 255, 0.89);
}
nav .navbar-default {
  background: transparent;
  border: none;
  margin-bottom: 0;
}
nav .navbar-default .navbar-nav {
  padding-top: 10px;
}
nav .navbar-default .navbar-nav li a {
  display: block;
  color: #2E2E2E;
  padding: 10px 0;
  margin: 0 14px;
  font-size: 15px;
  text-transform: uppercase;
}
nav .navbar-default .navbar-nav li a:hover {
  border-bottom: 2px solid #FF5333;
}
nav .navbar-default .navbar-nav li.active a,
nav .navbar-default .navbar-nav li.active a:focus,
nav .navbar-default .navbar-nav li.active a:hover {
  background-color: transparent;
  border-bottom: 2px solid #FF5333;
}
/*
 slider Start
*/
#slider {
  padding: 20px 0;
}
#slider .block {
  padding: 0 40px;
}
#slider .block .owl-carousel {
  padding-top: 30px;
  position: relative;
  text-align: center;
}
#slider .block .owl-carousel img {
  padding: 0 30px 50px 0;
  border-radius: 2px;
}
#slider .block .owl-carousel .owl-pagination .active {
  background: #FF5333;
}
#slider .block .owl-carousel .owl-pagination div {
  background: #DADADA;
  border-radius: 100%;
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 5px;
}
#slider .block .owl-carousel .owl-buttons {
  position: absolute;
  right: 0;
  top: -40px;
  font-size: 40px;
  color: #AA9D84;
}
#slider .block .owl-carousel .owl-buttons .fa-angle-right {
  display: inline-block;
  width: 20px;
  height: 20px;
}
/*
 about-us Start
*/
#about-us {
  padding: 100px 0;
  background: #F6F6F6;
}
#about-us .block {
  text-align: center;
}
#about-us p {
  color: #959595;
  font-size: 16px;
  line-height: 26px;
  padding: 40px 0;
}
/*
 about-us Start
*/
#blog {
  padding: 75px 0 100px 0;
  background: url("../images/blog/blog.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
#blog:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../images/overlay-pattern.png") #000;
  opacity: 0.3;
}
#blog .block .heading {
  color: #fff;
}
#blog .block ul {
  padding-top: 40px;
}
#blog .block ul li {
  overflow: hidden;
  width: 50%;
  height: 221px;
  float: left;
  background: #fff;
  text-align: center;
  color: #959595;
  transform: 1s;
  border-bottom: 1px dashed rosybrown;
}
#blog .block ul li:hover img {
  transform: scale(1.2) rotate(10deg);
}
#blog .block ul li h3 {
  color: #323232;
  padding: 0 25px 20px;
  line-height: 26px;
  position: relative;
}
#blog .block ul li .blog-img {
  width: 50%;
  height: 100%;
  background: red;
  float: left;
  overflow: hidden;
  box-shadow: 1px 2px 3px #ccc;
}
#blog .block ul li .blog-img img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}
#blog .block ul li .content-right {
  padding: 20px 20px 23px;
  font-size: 16px;
  line-height: 26px;
  float: right;
  width: 50%;
  height: 100%;
  position: relative;
}
#blog .block ul li .content-right:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  top: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  background: #fff;
  transform: rotate(45deg);
  margin-left: -14px;
  box-shadow: -1px 1px 0 #ccc;
}
#blog .block ul li .blog-img-2 {
  width: 50%;
  height: 100%;
  float: right;
  overflow: hidden;
  box-shadow: -1px -3px 3px #ccc;
}
#blog .block ul li .blog-img-2 img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}
#blog .block ul li .content-left {
  padding: 20px 20px 23px;
  font-size: 16px;
  line-height: 26px;
  float: left;
  width: 50%;
  height: 100%;
  position: relative;
  z-index: 999;
}
#blog .block ul li .content-left:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  top: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  background: #fff;
  border: 0;
  transform: rotate(45deg);
  margin-right: -14px;
  box-shadow: 1px -1px 0 #ccc;
}
#blog .block .btn-more-info {
  float: right;
  padding: 28px 102px;
  background: #FF530A;
  color: #fff;
  border: 1px solid transparent;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
#blog .block .btn-more-info:hover {
  background: transparent;
  color: #FF530A;
  border: 1px solid #FF530A;
}
/*
 Price Start
*/
#price {
  padding: 70px 0;
}
#price .block > p {
  color: #9D9D9D;
  font-size: 16px;
  line-height: 26px;
  padding: 40px 133px 0;
  text-align: center;
}
#price .block .pricing-list {
  padding-top: 85px;
}
#price .block .pricing-list ul {
  padding: 0 0 30px;
  margin: 0;
}
#price .block .pricing-list ul li {
  padding: 21px 0;
}
#price .block .pricing-list ul li .item .item-title {
  position: relative;
}
#price .block .pricing-list ul li .item .item-title h2 {
  display: inline-block;
  position: relative;
  background: #fff;
  z-index: 99;
}
#price .block .pricing-list ul li .item .item-title .border-bottom {
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  border: 1px dotted #C9C9C9;
  margin-top: 20px;
}
#price .block .pricing-list ul li .item .item-title span {
  float: right;
  color: #938463;
}
#price .block .pricing-list ul li .item p {
  padding: 12px 0 0;
  color: #949494;
}
#price .block .pricing-list .btn {
  padding: 28px 105px;
  color: #FF4F02;
  border: 1px solid #FF4F02;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: all .3s;
  transition: all .3s;
}
#price .block .pricing-list .btn:hover {
  background: #FF530A;
  color: #fff;
}
/*
 Subscribe Start
*/
#subscribe {
  padding: 100px 0;
  text-align: center;
  background: url("../images/timg.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
#subscribe .block h1.heading {
  color: #fff;
}
#subscribe .block p {
  padding: 25px 0;
  color: #fff;
  font-size: 18px;
}
#subscribe .block form .form-control {
  width: 450px;
  height: 65px;
  background: #fff;
  border: none;
  font-size: 15px;
  opacity: .9;
  border-radius: 0;
}
#subscribe .block form .input-group-addon {
  width: auto;
  padding: 0;
  border: none;
  background: none;
}
#subscribe .block form .input-group-addon button {
  width: 212px;
  height: 65px;
  border: none;
  border-radius: 0;
  background: #7EC3BB;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
#subscribe .block form .input-group-addon button:hover {
  background: #69a8a1;
}
/*
 Contact Us Start
*/
#contact-us {
  padding: 70px 0;
}
#contact-us .block .title {
  padding: 20px 0;
}
#contact-us .block form {
  padding: 20px 0;
}
#contact-us .block form input {
  height: 48px;
  border-radius: 0;
  box-shadow: none;
}
#contact-us .block form input:focus {
  border: 1px solid #7EC3BB;
}
#contact-us .block form textarea {
  height: 140px;
  border-radius: 0;
  box-shadow: none;
}
#contact-us .block form textarea:focus {
  border: 1px solid #7EC3BB;
}
#contact-us .block a {
  float: right;
  width: 512px;
  height: 50px;
  color: #fff;
  font-weight: 600;
  background: #FF4F02;
  border-radius: 0;
  padding-top: 15px;
  font-size: 20px;
  border: none;
}
/*
 Footer Start
*/
#footer {
  padding: 70px 0;
}
#footer .block h3 {
  color: #2E2E2E;
  padding-bottom: 25px;
}
#footer .block h3 span {
  color: #FF4F02;
}
#footer .block .info ul,
#footer .block .blog ul,
#footer .block .gallary ul {
  padding-top: 20px;
}
#footer .block .info ul li,
#footer .block .blog ul li,
#footer .block .gallary ul li {
  margin-bottom: 25px;
  display: inline-block;
  margin-right: 20px;
}
#footer .block .info ul li h4,
#footer .block .blog ul li h4,
#footer .block .gallary ul li h4 {
  padding-bottom: 10px;
  display: block;
  color: #FF4F02;
}
#footer .block .info ul li h4 i,
#footer .block .blog ul li h4 i,
#footer .block .gallary ul li h4 i {
  color: #555;
  margin-right: 30px;
  font-size: 20px;
}
#footer .block .info ul li h4 a,
#footer .block .blog ul li h4 a,
#footer .block .gallary ul li h4 a {
  color: #FF4F02;
  font-size: 20px;
  font-weight: 600;
}
#footer .block .info ul li p,
#footer .block .blog ul li p,
#footer .block .gallary ul li p {
  color: #474747;
  font-size: 14px;
}
#footer .block .social-media-link h3 {
  font-size: 20px;
  padding: 30px 0 15px 0;
}
#footer .block .social-media-link h3 span {
  color: #FF4F02;
}
#footer .block .social-media-link ul li {
  display: inline-block;
  margin-right: 20px;
}
#footer .block .social-media-link ul li a {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  padding-top: 8px;
  border-radius: 100%;
  background: #B0B0B0;
  color: #FFF;
}
#footer .block .social-media-link ul li a:hover {
  background: #FF4F02;
  color: #fff;
}
